<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.canal.basic.mapper.UserMapper">

    <select id="findByIdentity" resultType="com.canal.basic.model.SysUser">
        SELECT *
        from sys_user
        WHERE is_valid = 1
          and identity = #{identity}
    </select>

    <insert id="addSysUser">
        insert into sys_user (username, identity, email, pwd, gender, state, is_sys)
        values (#{username}, #{identity}, #{email}, #{pwd}, ${gender}, ${state}, ${is_sys})
    </insert>

    <select id="getAllUsers" resultType="com.canal.basic.model.SysUser">
        SELECT *
        from sys_user where is_valid = true order by create_time desc
    </select>

    <update id="logicalDeleteUser">
        update sys_user set is_valid = false WHERE id IN
        <foreach collection="userIdList" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </update>



</mapper>